<%@ Control Language="c#" Inherits="activeportal.usercontrols.filesfolders.ActuateBaseView" CodeFile="baseview.ascx.cs" %>
<%@ Register TagPrefix="actuate" TagName="filter" Src="../common/filter.ascx" %>
