<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PersonnelNumber.ascx.cs" Inherits="UserManagement_PersonnelNumber" %>
<table cellSpacing="0" cellPadding="0" border="0">
	<tr>
		<td class="XX-SmallBold">Personnel Number:</td>
		<td>&nbsp;<asp:Label Runat="server" ID="lblPersonnelNumber" CssClass="XX-Small"></asp:Label></td>
	</tr>
</table>
