<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DefaultUser.aspx.cs" Inherits="UserManagement_IndividualObject_user_DefaultUserPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
    <head id="Head1" runat="server">
		<LINK href="../../../css/allstyles.css" type="text/css" rel="stylesheet">		
	</head>    
    <form id="form1" runat="server">
        <frameset id="myframeSet" rows="95,*" framespacing="1" frameborder="0">
            <frame id="Tab" marginwidth="0" marginheight="0" scrolling="no" name="topbanner" src="<%=GetTabStripSrc%>" />
            <frame id="Frame1" marginwidth="3" marginheight="0" name="main" src="">
        </frameset>
    </form>
</html>

