<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditApplicationAccess.ascx.cs" Inherits="UserManagement_IndividualObject_user_EditApplicationAccess" %>
<%@ Register Src="../../Common/applicationaccess.ascx" TagName="applicationaccess"
    TagPrefix="uc1" %>

<table width="100%" border="1" cellpadding="0" cellspacing="0" id="Table1">
	<tr>
		<td>
            <uc1:applicationaccess ID="ApplicationAccess1" runat="server" />
		</td>
	</tr>
</table>

