<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditGroupMembership.ascx.cs" Inherits="UserManagement_IndividualObject_user_EditGroupMembership" %>

<%@ Register TagPrefix="uc1" TagName="RDGroups" Src="../../Common/RDGroups.ascx" %>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><uc1:rdgroups id="RDGroups1" runat="server" OnListSearch_OnClick="RDGroups1_ListSearch_OnClick" Visible="true"></uc1:rdgroups></td>
	</tr>
</table>
