<%@ Control Language="c#" Inherits="activeportal.usercontrols.logout" CodeFile="logout.ascx.cs" %>
<%--	
	@author 	Actuate Corporation
				Copyright (C) 2003 Actuate Corporation. All rights reserved.
	@version	1.0
	$Revision:: $
--%>

