<%@ Page language="c#" Inherits="DistributionPortal.BudgetDistribution_PAGE" CodeFile="BudgetDistribution.aspx.cs" %>
<%@ Register TagPrefix="uc1" TagName="BudgetDistributionControl" Src="BudgetDistributionControl.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>BudgetDistribution</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="<%=Context.Request.ApplicationPath%>/css/allstyles.css" type="text/css" rel="stylesheet">		
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<uc1:BudgetDistributionControl id="BudgetDistributionControl1" runat="server"></uc1:BudgetDistributionControl>
		</form>
	</body>
</HTML>
