<%@ Control Language="C#" AutoEventWireup="true" %>

<asp:Label id="Label1" runat="server" Font-Bold="True" Font-Size="12pt" Font-Names="Verdana">Your information has been sent to the Network Services team.</asp:Label>
<br>
<asp:Label id="Label2" runat="server" Font-Bold="True" Font-Size="12pt" Font-Names="Verdana">Thank you.</asp:Label>
