<%@ Control Language="c#" Inherits="DistributionPortal.FolderStatus" CodeFile="FolderStatus.ascx.cs" %>
<asp:Label id="Label1" runat="server" Font-Bold="True" Font-Size="22pt">Folder Status</asp:Label>
