<%@ Control Language="c#" Inherits="PortsOfCallListing" CodeFile="PortsOfCallListing.ascx.cs" %>
<asp:DataList id="DataList1" runat="server" RepeatColumns="2" ItemStyle-Wrap="False" RepeatDirection="Horizontal" Width="100%">
	<ItemTemplate>
		<asp:Label ID="lblPOC" CssClass="XX-SmallBold_White" Runat="server"></asp:Label>
	</ItemTemplate>
</asp:DataList>
