<%@ Register TagPrefix="uc1" TagName="categoriesview" Src="../../../filesfolders/categoriesview.ascx" %>
<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ReportListing.ascx.cs" Inherits="Passport_Administration_Reports_ReportListing" %>

<uc1:categoriesview id=Categoriesview1 runat="server"></uc1:categoriesview>
