<%@ Control Language="c#" Inherits="DistributionPortal.MyReportsGroupType" CodeFile="MyReportsGroupType.ascx.cs" %>
<asp:CheckBox id="chkFinancial" Text="Financial" runat="server" CssClass="X-Small"></asp:CheckBox>&nbsp;
<asp:CheckBox id="chkSalary" Text="Payroll Salary" runat="server" CssClass="X-Small"></asp:CheckBox>&nbsp;
<asp:CheckBox id="chkHourly" Text="Payroll Hourly" runat="server" CssClass="X-Small"></asp:CheckBox>
<asp:CheckBox id="chkBlueBook" CssClass="X-Small" runat="server" Text="Blue Book"></asp:CheckBox>&nbsp;&nbsp;
