<%@ Page Language="C#" AutoEventWireup="true" CodeFile="News_Edit.aspx.cs" Inherits="News_News_Edit" %>

<%@ Register Src="DateandTimePicker.ascx" TagName="DateandTimePicker" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
        <uc1:DateandTimePicker ID="DateandTimePicker1" runat="server" />
    
    </div>
    </form>
</body>
</html>
