<%@ Page language="c#" Inherits="PopupWindow.question" CodeFile="question.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>question</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="../css/allstyles.css" type="text/css" rel="stylesheet">
		<script language="javascript">
<!--
	function Load_Page()
	{
		var diag = window.dialogArguments;
	
		Header.innerHTML = diag.HeaderText;
		Description.innerHTML = diag.DescriptionText;
		Form1.ButtonOne.value = diag.ButtonOneText;
		Form1.ButtonTwo.value = diag.ButtonTwoText;
	
	}
	
	function button_Click(button)
	{
		var myObject = new Object();
		
		myObject.ButtonClicked = button;
		
		window.returnValue = myObject;
		window.close();
	}
//-->
		</script>
	</HEAD>
	<body onload="Load_Page()">
		<form id="Form1" method="post" runat="server">
			<br>
			<table cellSpacing="0" cellPadding="0" width="500" border="0">
				<tr>
					<td><IMG height="40" alt="" src="custompage_r1_c1.gif" width="15" border="0" name="custompage_r1_c1"></td>
					<td>
						<table cellSpacing="0" cellPadding="0" width="400" border="0">
							<tr>
								<td style="WIDTH: 502px"><IMG height="7" alt="" src="custompage_r1_c2.gif" width="500" border="0" name="custompage_r1_c2"></td>
							</tr>
							<tr>
								<td style="WIDTH: 503px">
									<table cellSpacing="0" cellPadding="0" width="496" border="0">
										<tr>
											<td vAlign="middle" width="100%" bgColor="#03689a" height="20"><span class="QuestionTitle"><strong>Are you sure?</strong></span></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td><IMG height="13" alt="" src="custompage_r3_c2.gif" width="501" border="0" name="custompage_r3_c2"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table cellSpacing="0" cellPadding="0" width="540" border="0">
				<tr>
					<td><IMG height="250" alt="" src="custompage_r4_c1.gif" width="15" border="0" name="custompage_r4_c1"></td>
					<td vAlign="top" width="467" bgColor="#ffffff" height="250">
						<!--CONTENT STARTS-->
						<div align=center>
							<br>
							<br>
							<div align="center" id="Header" class="QuestionHeaderText">Are</div>
							<br>
							<br>
							<div id="Description" class="QuestionDescriptionText" align="center">Are</div>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<div align="center"><INPUT id="ButtonOne" style="WIDTH: 100px" onclick="button_Click('1')" type="button" value="value"
									class="MyReportsAdminConsoleButton"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <INPUT style="WIDTH: 100px" type="button" id="ButtonTwo" onclick="button_Click('2')" value="value"
									class="MyReportsAdminConsoleButton">
							</div>
						</div>
						<!--CONTENT ENDS--></td>
					<td><img name="custompage_r4_c4" src="custompage_r4_c4.gif" width="18" height="250" border="0"
							alt=""></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><img name="custompage_r5_c1" src="custompage_r5_c1.gif" width="513" height="14" border="0"
							alt=""></td>
				</tr>
			</table>
			</TD></TR>
			<br>
		</form>
	</body>
</HTML>
