<%@ Control Language="c#" Inherits="DistributionPortal.Migrated_TabStripClass" CodeFile="tabStip.ascx.cs" %>
<table cellSpacing="0" cellPadding="0" width="100%" border="0">
	<tr>
		<td vAlign="bottom">
			<asp:Panel id="PlaceHolderMain" Width="100%" Height="100%" runat="server"></asp:Panel></td>
	</tr>
</table>
