<%@ Control Language="c#" Inherits="DistributionPortal.Title" CodeFile="Title.ascx.cs" %>
<table width="100%" cellSpacing="0" cellPadding="0" border="0" style="BACKGROUND-IMAGE: url(../images/tile-0004.png); PADDING-BOTTOM: 4px; PADDING-TOP: 4px">
	<tr>
		<td width="100%" align="center"><asp:Label id="lblTitle" CssClass="AdminConsoleTitleText" runat="server">Label</asp:Label></td>
	</tr>
</table>

