<%@ Register TagPrefix="localized" Namespace="actuate_i18n" Assembly="actuate_i18n" %>
<%@ Register TagPrefix="template" namespace="actuate.classes.webcontrols.masterpages" assembly="activeportal" %>
<%@ Register TagPrefix="actuate" TagName="do_execute" Src="do_execute.ascx" %>
<%@ Page language="c#" Inherits="DistributionPortal.newrequest.do_executequery" CodeFile="do_executequery.aspx.cs" %>
<template:contentcontainer templatefile="popuptemplate.ascx" runat="server" id="Contentcontainer1">
	<template:content id="content" runat="server">
		<actuate:do_execute id="Do_execute1" runat="server"></actuate:do_execute>
	</template:content>
</template:contentcontainer>
