<%@Register TagPrefix="localized" namespace="Compass.Web.WebControls" %>
<%@ Control Language="c#" Inherits="Passport_Administration_Reports_ParameterControls_OperationNumber" CodeFile="OperationNumber.ascx.cs" %>
<br>
<table cellSpacing="0" cellPadding="1" width="100%" border="0">
	<tr>
		<td style="WIDTH: 130px" vAlign="top" noWrap><asp:Label class="boldlabel" id="Cglabelcontrol1" Text="Please make a selection" runat="server"></asp:Label></td>
		<td vAlign="middle" noWrap align="left">&nbsp;
			<asp:listbox id="drpGroups" runat="server" Width="184px" Height="168px" SelectionMode="Multiple"></asp:listbox></td>
	</tr>
</table>
