<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Message.ascx.cs" Inherits="UserManagement_Common_Message" %>
<DIV id="divMessage" style="DISPLAY: inline; VISIBILITY: visible" runat="server">
	<asp:Label id="lblMessage" runat="server" Visible="true" ForeColor="red" CssClass="XX-Small">[Message]</asp:Label><BR>
</DIV>
