<%@ Control Language="c#" Inherits="MyReports.UserManagementUI.Common.PersonnelNumber" CodeFile="PersonnelNumber.ascx.cs" %>

<table cellSpacing="0" cellPadding="0" border="1">
	<tr>
		<td class="XX-SmallBold">Personnel Number:</td>
		<td>&nbsp;<asp:Label Runat="server" ID="lblPersonnelNumber" CssClass="XX-Small"></asp:Label></td>
	</tr>
</table>
