<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PassportDefault.aspx.cs" Inherits="PassportDefaultPage" %>

<%@ Register Src="Main.ascx" TagName="Main" TagPrefix="uc1" %>



<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
    <head id="Head1" runat="server">
		<LINK href="../css/allstyles.css" type="text/css" rel="stylesheet">
		<script language=javascript src="<%=Context.Request.ApplicationPath%>/js/XMenu.js"></script>
	</head>
	<body>
		<form id="Form1" runat="server">
            <uc1:Main ID="Main1" runat="server" />
		</form>
	</body>
</HTML>
