<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ValidReports.aspx.cs" Inherits="ReportDistribution_Administration_ValidReports_ValidReports" %>

<%@ Register Src="validreports.ascx" TagName="validreports" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <LINK href="../../../css/allstyles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:validreports ID="Validreports1" runat="server" />
    
    </div>
    </form>
</body>
</html>
