<%@ Register TagPrefix="uc1" TagName="do_execute" Src="../../newrequest/do_execute.ascx" %>
<%@ Page language="c#" Inherits="DistributionPortal.ReportDistributionUI.Benefits.index" CodeFile="BenefitReports.aspx.cs" %>
<%@ Register TagPrefix="uc1" TagName="executereport" Src="../../newrequest/executereport.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>index</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</HTML>
