<%@ Page language="c#" Inherits="activeportal.viewer.getreportdata" CodeFile="getreportdata.aspx.cs" %>
<%@ Register TagPrefix="actuate" TagName="getreportdata" Src="getreportdata.ascx" %>
<%@ Register TagPrefix="actuate" TagName="authenticate" Src="../authenticate.ascx" %>
<actuate:authenticate  EnableJavascript="false" runat="server"/>
<actuate:getreportdata format="dhtml" runat="server" />