
/*
	The default body layout for all the pages.
*/
BODY
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	background-color: White;
}

/*
	The different styles for the banner
	banner - banner background and the default font styles
	bannerLabel - The default font style for the lables in the banner like ""
	bannerValue - The default font style for the values displayed in the banner like ""
	bannerLink - The default style for the hyperlinks in the banner
*/
.banner, .bannerLabel, .bannerValue, .bannerLink, .bannertextarea
{
	font-style: normal;
	font-size: 9pt;
	text-align: left;
	color: White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bannerLink
{
	color: #FFCC66;
	font-weight: bold;
}

.treeviewbanner { background-color:#89A7FF;   }

.banner
{
	background-color: #261F9C;
}

/*
	Additional styles that apply to the hyperlinks in the banner
*/
.bannerLink
{
	padding-right: 3pt;
}

/*
	Additional styles that apply to the labels displayed in the banner.
*/
.bannerLabel
{
	color: #9CCFFF;
}

/*
	Additional styles that apply to the values displayed in the banner
*/
.bannerValue
{
	color: White;
}

/*
	The style for the hyperlink in the banner when the user moves the mouse over it.
*/
A:HOVER.bannerLink
{
	color: #FFCF00;
}

/*
	Styles for the sidebar
	sidebar -  The style for the sidebar panel
	sidebarSelected - The style of the selected sidebar item
	sidebarLine - The style of the hyperlinks inside the sidebar
	A:HOVER.sidebarLink -  The style of the sidebar link when the user moves the mouse over it.
	sidebarLinkSelected - The style of the hyperlink for a selected sidebar item.
	A:HOVER.sidebarLinkSelected - The style of the hyperlink for a selected sidebar item when the user moves the mouse over it.
	sidebarUnselected - The style for the sidebar items that are not currently selected.
*/
.sidebar, .sidebarSelected, .sidebarLink, A:HOVER.sidebarLink, .sidebarLinkSelected, A:HOVER.sidebarLinkSelected, .sidebarUnselected
{
	font-style: normal;
	font-size: 9pt;
	color: White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.sidebar
{
	width: 130px;
}


/*
	Additional styles for the selected sidebar item
*/
.sidebarSelected
{
	padding: 3px;
	margin: 1px;
	background-color: #B1CAE3;
	white-space: nowrap;
}

.sidebarUnselected
{
	padding: 3px;
	margin: 1px;
	background-color: #31659C;
	white-space: nowrap;
}

.sidebarSelected td
{
	vertical-align: middle;
}


.sidebarUnselected td
{
	vertical-align: middle;
}


.sidebarLink, A:HOVER.sidebarLink, .sidebarLinkSelected, A:HOVER.sidebarLinkSelected
{
	font-weight: bold;
	margin: 0px;
}

A:HOVER.sidebarLink
{
	color: #FFCF00;
}

.sidebarLinkSelected
{
	color: #31659C;
	vertical-align: middle;
}

A:HOVER.sidebarLinkSelected
{
	color: Red;
}


/*
	Content page styles
*/
/*
	The layout for the content pages that display the lists
*/
.content
{
	padding-left: 5pt;
	padding-top: 3pt;
	padding-right: 3pt;
}

/*
	Styles for all the contents in the pages
	The TD has been generatlized since most of the styles are the same and a style sheet doesn't need to be applied for it.
*/
.label, .boldlabel, .alertText, .disabledhyperlink, .breadcrumb,.toolbartext,.toolbarboldtext,.toolbarlink, .hyperlink, .titlebar, A:HOVER.hyperlink, .filterLabel, .command, .inputControlStretch, .rowStyle1, .rowStyle2, columnHeader, .treeControlSelectedItem, .treeControlItem
{
	font-style: normal;
	font-size: 9px;
	color: Black;
	font-family: Verdana,sans-serif;
}

/*
	Style for breadcrumb hyperlinks and text and toolbar
*/

.breadcrumb,.toolbartext,.toolbarboldtext,.toolbarlink
{
	font-size: 8pt;
}

.toolbarboldtext
{
	font-weight:bold;
}

/*
	Additional styles needed for the text when representing a disabled hyperlink
	This is used for displaying the file name in the job notice pages when the job fails or if the file is not available on the server.
*/
.disabledhyperlink
{
	color: rgb(196,196,196);
	text-decoration: underline;
}

/*
	Overridden styles for the labels in the filter panel
*/
.filterLabel
{
	font-size: 8pt;
}

/*
	Text that is used for displaying alerts to the user.
	Currently used in the login page when the user logs out or if the volume names are not available
*/
.alertText
{
	color: Red;
	font-weight: bold;
}

/*
	Presently used to set the width of input controls in the login page
*/
.inputControl
{
	width: 320pt;
	font-weight: normal;
}

/*
	Used to set the styles of input controls in the query pages at present
*/
.inputControlStretch
{
	width: 100%;
}

/*
	This is used as the background for the filters, query and any page whose content is displayed in a bordered box
	Also used for the job headers
*/
.panel
{
	background-color: #efebde;
	border: 1px solid #b5b29c;
	padding: 4px;
}

.popupMenu, .popupMenuItem, .popupMenuItemSelected
{
	border: none;
	padding: 0px;
	font-style: normal;
	font-size: 9pt;
	color: #333399;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.popupMenu
{
	background-color: #F0F3F9;
	border: 1px solid #333399;
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 100px;
	padding: 2px;
}

.popupMenuItemSelected
{
	background-color: #333399;
	padding: 2px;
	cursor: pointer;
	color: #F0F3F9;
}

.popupMenuItem
{
	padding: 2px;
}

.popupMenuSeparator
{
	background-color: #333399;
	margin: 2px;
}

.popupMenuSelection
{
	background-color: #F0F3F9;
}


/*
	rowstyles for alternating colors in the list view
*/
.rowStyle1
{
	background-color: White;
}

.rowStyle2
{
	background-color: #EFEBDE;
}

/*
	Style for the column headers in the list view and for the category names in the categories view
	titlebar - applies to categories view titles
*/
.titlebar
{
	background-color: #31659C;
	font-weight: bold;
	color: White;
	padding-right: 2pt;
	padding-left: 2pt;
	padding-bottom: 1px;
	padding-top: 2px;
}

.groupBox
{
	border-width: 1px;
	border-style: groove;
	padding: 10px;
}

.columnHeader
{
	font-weight: bold;
	font-size: 10pt;
}

/*
	Additional style for any lable that is to be displayed in bold
*/
.boldlabel
{
	font-weight: bold;
}

/*
	Styles for hyperlinks in the list pages and for breadcrumb hyperlinks.
*/
.hyperlink, .breadcrumb,.toolbarlink
{
	color: #0000A0;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

/*
	this style is used for the hyperlinks in the list pages when the user moves the mouse over them
*/
A:HOVER.hyperlink
{
	color: Red;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

/* Tabs */
.rightCellInactiveTab
{
	width: 3px;
}
.rightCellActiveTab
{
	width: 3px;
}
.leftCellActiveTab
{
	width: 3px;
}
.leftCellInactiveTab
{
	width: 3px;
}

.newCellActiveTab
{
	background: #EFEBDE;
	color: #0000A0;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-color: #b5b29c;
}

.newCellInactiveTab
{
	background: #b5b29c;
	color: #FFFFFF;
}

.newCellActiveTab, .newCellInactiveTab
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	text-align: center;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	height: 32;
}

A:LINK.tabLink, A:HOVER.tabLink, A:visited.tabLink
{
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	text-decoration: none;
}

A:LINK.tabLinkDisabled
{
	color: #7f7f7f;
	font-weight: bold;
	text-decoration: none;
}

A:HOVER.tabLink
{
	color: #0000A0;
}

.tabLinkSelected
{
	color: #0000A0;
	font-weight: bold;
	text-decoration: none;
}


/*
	Viewer Toolbar (viewnavigation, searchtoolbar, searchframe
 */

/* font used in viewing search results */
.searchresultlink
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	color: blue;
}

.LinkOff
{
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.LinkOver
{
	color: red;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.LinkDisable
{
	color: #99CCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.navbar
{
	background-color: #31699C;
}

.searchPanel
{
	background-color: #006699;
}

.searchHeader
{
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline;
}

.searchContent
{
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

/*
	Viewer Download Page (viewer/saveas)
 */
.title
{
	margin-top: 10;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #31699C;
}
.filterGray
{
	height: 32;
	vertical-align: middle;
	background-color: #d6d3ce;
}
.button
{
}


/*
Calendar styles
*/

#fntCalendarDayOfMonth
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(0,0,0);
}
#fntCalendarMonth
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(0,0,0);
}
#fntCalendarYear
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(0,0,0);
}
#fntCalendarDayOfWeek
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: rgb(0,0,0);
}


/*
	In options page
*/
.upperEdge
{
	background-color: #efebde;
	border-top: 1px solid #b5b29c;
}

.ParamDisplayDiv
{
	border-right: #336699 1px solid;
	border-top: #336699 1px solid;
	border-left: #336699 1px solid;
	border-bottom: #336699 1px solid;
}

/* Table Parameter editor */
.TableParamData
{
	padding-left: 6px;
	background-color: #d6efe6;
}


TH.tableParameterHeader
{
	vertical-align: middle;
	background-color: #336699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: bold;
	font-variant: normal;
	color: White;
	text-align: center;
}


TD.tableParameterButtonPanel
{
	vertical-align: middle;
	background-color: #c3dffb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	text-align: right;
	padding: 3px;
}

TH.tableParameterColumnHeader
{
	vertical-align: middle;
	background-color: #b7b098;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: bold;
	font-variant: normal;
	color: White;
	text-align: center;
}

TD.tableParameterRows
{
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	text-align: left;
}

TD.tableRowColumnName
{
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: bold;
	font-variant: normal;
	text-align: left;
}

.treeControl
{
	border-width: 3px;
	border-style: groove;
	padding: 3px;
	width: 100%;
	height: 230px;
	overflow: auto;
	display: block;
	background-color: white;
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.treeControlItem
{
	color: black;
	background-color: white;
	text-decoration: none;
	cursor: default;
	padding: 0px;
	margin: 0px;
}


.treeControlSelectedItem
{
	background-color: #316AC5;
	color: white;
	cursor: default;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

/*
 *	For Pluto integration
 */
.myPage
{
	background-color: #efebde;
	border: 1px solid #b5b29c;
	padding: 4px;
}

.myPageLink
{
	color:blue;
	text-decoration:none;
}

.portletWindowTitle
{
	background-color: #b5b29c;
}

.portletWindow
{
	border-style: solid;
	border-width: 1px;
	border-color: #b5b29c;
	background-color: white
}

.listFrm
{
	background-color: b5b29c;
	border-style:solid;
	border-width:1px;
}

.hiddenListFrm
{
	background-color: b5b29c;
	border-style:solid;
	border-width:1px;
	display:none
}

.ListButton
{
}

.hiddenElement
{
	display:none
}

.currentLink
{
	color:black;
	text-decoration:none;
	cursor:default;
}

.nonCurrentLink
{
	color:blue;
	text-decoration:underline;
}

.manageMyPagesLink
{
	color:#31659C;
	text-decoration:underline;
}



H3
{
		color: black;
	font-family: Verdana;	
}
.TableButtonRow
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: buttonface;
}

.TableHeaderRow
{
	border-right: #ffffff 1px solid;
	padding-right: 2pt;
	padding-left: 2pt;
	padding-bottom: 1px;
	color: #ffffff;
	padding-top: 0px;
	background-color: #31659C;
	height: 16px;

}

.TableHeaderRowEndRow
{

	padding-right: 2pt;
	padding-left: 2pt;
	padding-bottom: 3px;
	color: #ffffff;
	padding-top: 2px;
	height: 13pt;
	background-color: #31659C;
}

.TableHeaderRowNonVisible
{
	height: 13pt;
	background-color: #4484b4;
}

.AltTableRow
{
	padding-right: 2px;	
	padding-left: 4px;
	padding-bottom: 0px;	
	color: black;
	padding-top: 0px;	
	font-family: Verdana;
	background-color: #e6edf7;
	height: 16pt;
	
}

.TableRow
{
	
	padding-right: 2px;	
	padding-left: 4px;
	padding-bottom: 0px;	
	color: black;
	padding-top: 0px;	
	font-family: Verdana;
	height: 16pt;
	
	
}

.TableDownloadedRow
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #33ff33;
}

.TableSelectedRow
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #cccc00;
}
.FileName
{
	font-size: 9pt;
	cursor: hand;
	color: rgb(0,0,160);
	font-family: Arial, Tahoma, sans-serif;
}
.BudgetDistributionTextStyle
{
	padding-left: 12px;
	font-size: 14pt;	
	color: #0000ff;
	font-family: Verdana;
}

.ShowOnlyDownloadedFiles
{
	color: black;
	font-family: Verdana;
}

.tab-active
{
	border-right: #edecd1 1px solid;
	padding-right: 18px;
	border-top: #edecd1 0px;
	padding-left: 18px;
	font-weight: bold;
	font-size: 11px;
	background-image: url(../images/tile-0004.png);
	padding-bottom: 3px;
	border-left: #edecd1 1px solid;
	color: #000099;
	padding-top: 3px;
	border-bottom: #edecd1 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 22px;
	text-align: center;
}
.tab-inactive
{
	border-right: #000000 1px solid;
	padding-right: 18px;
	border-top: #000000 1px solid;
	padding-left: 18px;
	font-weight: bold;
	font-size: 11px;
	background-image: url(../images/tile-0001.png);
	padding-bottom: 3px;
	border-left: #000000 1px solid;
	color: #ffffff;
	padding-top: 3px;
	border-bottom: #000000 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 22px;
	text-align: center;
}

.tab-inactive a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tab-inactive a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tab-inactive a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}
.tab-inactive a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}


.MyReportsAdminConsoleButton
{
	border-right: darkblue 1px solid;
	border-top: darkblue 1px solid;
	display: inline;
	font-size: 8pt;
	border-left: darkblue 1px solid;
	width: 90px;
	cursor: hand;
	color: #111c54;
	border-bottom: darkblue 1px solid;
	font-family: Verdana;
	position: relative;
	height: 20px;
	background-color: gainsboro;
}

.XXL-MyReportsAdminConsoleButton
{
	border-right: darkblue 1px solid;
	border-top: darkblue 1px solid;
	display: inline;
	font-size: 12pt;
	border-left: darkblue 1px solid;
	width: 150px;
	cursor: hand;
	color: #111c54;
	border-bottom: darkblue 1px solid;
	font-family: Verdana;
	position: relative;
	height: 40px;
	background-color: gainsboro;
}

.SelectedStep
{
	border-top: white thin solid;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: white;
	text-decoration: none;
}

.NonSelectedStep
{
	border-top: white thin solid;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #edecd1;
	text-decoration: none;
}

.AddNewUserSideLinkTest
{
	font-size: xx-small;
	margin-left: 0px;
	color: #0000ff;
	font-family: Verdana;
	text-decoration: none;
}

.AddNewUserSideLink:hover
{
	color: #e0da00;
	text-decoration: none;
}

.AddNewUserSideLink:active
{
	text-decoration: none;
}

.AddNewUserSideLink:link
{
	text-decoration: none;
}

.AddNewUserSideLink:visited
{
	color: Blue;
}

.MyReportsAdminConsoleBorder
{
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-left: dimgray 1px solid;
	border-bottom: dimgray 1px solid;
	height: 100%;
	width: 100%;
	
}

.AdminConsoleTitleText
{
	font-weight: bold;
	font-size: 12pt;
	font-family: Verdana;
}

.Grid
{
	font-family: Comic;
}

.X-Small
{
	font-size: 11px;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.X-SmallBold
{
	font-weight: bold;
	font-size: 11px;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.X-Small_White
{
	font-size: 11px;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.X-SmallBold_White
{
	font-weight: bold;
	font-size: 11px;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.XX-Small
{
	font-size: 10px;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.XX-SmallBold
{
	font-size: 10px;
	font-weight: bold;	
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.XX-Small_White
{
	font-size: 10px;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}


.XX-SmallBold_White
{
	font-weight: bold;
	font-size: 10px;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.X-SmallTextBox
{
	font-size: 11px;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.XX-SmallTextBox
{
	font-size: 10px;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.X-SmallDropDown
{
	border-right: navy 11px solid;
	border-top: navy 1px solid;
	border-left: navy 1px solid;
	border-bottom: navy 1px solid;
	font-size: 11px;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	background-color: white;
}

.XX-SmallDropDown
{
	border-right: navy 11px solid;
	border-top: navy 1px solid;
	border-left: navy 1px solid;
	border-bottom: navy 1px solid;
	font-size: 10px;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	background-color: white;
}



.ThinBorder
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	background-color: #eeedd7;
}

.ThinBorder_MissingTop
{
	border-right: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	background-color: #eeedd7;
}

.menuSelectionText
{
	font-weight: bolder;
	font-size: 8pt;
	cursor: hand;
	color: #000099;
	font-family: Verdana;
	text-decoration: underline;
}

.menuSelection
{
	cursor: hand;
}

.popupMenuSelection
{
	cursor: hand;
	width: 16;
	height: 14px;
}

.XMenuItem
{
	border-right: white 1px solid;
	border-top: white 1px solid;
	border-left: white 1px solid;
	border-bottom: white 1px solid;
	
	padding-right: 1px;	
	padding-left: 1px;
	padding-bottom: 1px;
	padding-top: 0px;
	
	width: 98%;
	color: blue;
	
	font-family: Verdana;
	font-size: 8pt;
	background-color: white;
	text-align: left;
}

.XMenuItem:hover
{
	border-right: royalblue 1px solid;
	padding-right: 1px;
	border-top: royalblue 1px solid;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: royalblue 1px solid;
	width: 98%;
	color: maroon;
	padding-top: 0px;
	border-bottom: royalblue 1px solid;
	font-family: Verdana;
	background-color: honeydew;
	text-align: left;
}	 


.XMenuHeader
{
	background-image: url(../images/tool-bkgd.gif);
	height: 30px;
	background-color: transparent;
}

.XMenu_Out
{
	background-image: url(../images/tool-bkgd.gif);
	height: 22px;
	background-color: transparent;
}

.XMenu_Over
{	
	background-image: url(../images/over-bkgd.gif);		
	height: 22px;
	background-color: transparent;
}

.XMHeaderTest
{
	padding-left: 6px;
	font-weight: bold;
	font-size: 8pt;
	color: #0033cc;
	text-align: left;
}
.UserName
{
	padding-left: 16px;	
	font-size: 10pt;
	color: white;
	background-color: transparent;
}

.ApplicationName
{
	padding-left: 122px;
	font-weight: bold;
	font-size: 12pt;
	color: white;
	font-family: Verdana;
	background-color: transparent;
}

.ChangePasswordLinkButton
{
	font-size: 9pt;
	color: red;
	font-weight: bold;
	background-color: transparent;	
}

.ChangePasswordText
{	
	font-size: 9pt;
	color: white;
	font-weight: bold;
	background-color: transparent;
}

.QuestionTitle
{
	color: white;
	font-family: Tahoma,sans-serif;
}

.QuestionHeaderText
{
	font-weight: bold;
	font-size: 12pt;
}

.QuestionDescriptionText
{
	font-size: 10pt;
}

.IframeBody {
	BACKGROUND-COLOR: #efebd8
}
#DropDownMenuItem {
	PADDING-LEFT: 8pt;border: 1px solid #336699
}
#PopUpMenuItem {
	PADDING-LEFT: 8pt;border: 1px solid #336699
}
.DropDownMenuRule {
	WIDTH: 100%; HEIGHT: 1px; BACKGROUND-COLOR: #6699cc
}
.PopUpMenuRule {
	WIDTH: 100%; HEIGHT: 1px; BACKGROUND-COLOR: #6699cc
}
.DropDownMenuRuleAbove {
	BORDER-TOP: #ffcc66 1px solid; PADDING-TOP: 2px
}
.PopUpMenuRuleAbove {
	BORDER-TOP: #ffcc66 1px solid; PADDING-TOP: 2px
}
#ItemsDropDownMenuFrame {
	POSITION: absolute
}
#ItemPopUpMenuFrame {
	POSITION: absolute
}
#ItemPopUpMenuFrame {
	DISPLAY: none
}
.ItemsDropZone {
	BORDER-RIGHT: #666666 0.5pt solid; PADDING-RIGHT: 4pt; BORDER-TOP: #666666 0.5pt solid; PADDING-LEFT: 4pt; BORDER-LEFT: #666666 0.5pt solid; WIDTH: 140px; CURSOR: hand; COLOR: #330099; BORDER-BOTTOM: #666666 0.5pt solid; HEIGHT: 35px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.ItemsDropZone2 {
	BORDER-RIGHT: #999999 2px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 19pt; BACKGROUND: url(../images/p2_actionsicon_actionbar.gif) #efebd8 no-repeat; BORDER-LEFT: #cccccc 1px solid; WIDTH: 163px; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #999999 2px solid; HEIGHT: 26px; TEXT-ALIGN: center
}
/************************************************************************
* 
* Rollover buttons
*
************************************************************************/

.buttonsmall, .buttonsmall-ovr
{
    background: url(../images/background_button_small.gif) repeat-x;
    border: none;
    color: #FFFFFF;
    height: 18px;
    font-weight: normal;
    font-size: 9px;
    padding-bottom: 7px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    cursor: pointer;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.buttonsmall-ovr
{
    text-decoration: underline;
    background: url(../images/background_button_small-ovr.gif) repeat-x;
}

.leftblock h2, .rightblock h2, .fullwidth h2
{
    font-size: 1.6em;
}

.rightblock h3
{
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    display: block;
}

/* Goes around controls that need to be presented as a block of functionality  */
.controlblock
{
    border: 1px solid #DBDB79;
    padding: 3px;
    margin: 2px 0 5px 0;
    vertical-align: top;
}

input, select, textarea
{
    font-size: 0.7em; 
    font-family: arial, Verdana, Helvetica, Helvetica-Narrow, sans-serif;
}

.urScrl
{
	 
	scrollbar-base-color:tomato;
	scrollbar-face-color:#E0E5E8;
	scrollbar-3dlight-color:#808080;
	scrollbar-arrow-color:#303047;
	scrollbar-darkshadow-color:#E9EDEF;
	scrollbar-shadow-color:#808080;
	scrollbar-track-color:#E9EDEF
}

.urTrcBodyBox{background-color:#FFF;font-family:Arial,Helvetica,sans-serif;font-size:small;scrollbar-3dlight-color:#808080;scrollbar-arrow-color:#303047;scrollbar-base-color:#E9EDEF;scrollbar-darkshadow-color:#E9EDEF;scrollbar-face-color:#E0E5E8;scrollbar-shadow-color:#808080;scrollbar-track-color:#E9EDEF}.urTrcBodyFrm{background-color:#D1D9DE;font-family:Arial,Helvetica,sans-serif;font-size:small;scrollbar-3dlight-color:#808080;scrollbar-arrow-color:#303047;scrollbar-base-color:#E9EDEF;scrollbar-darkshadow-color:#E9EDEF;scrollbar-face-color:#E0E5E8;scrollbar-shadow-color:#808080;scrollbar-track-color:#E9EDEF}.urTrcBodyHdr{font-size:small;font-family:Arial,Helvetica,sans-serif;background-position:0% 0%;background-repeat:repeat;scrollbar-3dlight-color:#808080;scrollbar-arrow-color:#303047;scrollbar-base-color:#E9EDEF;scrollbar-darkshadow-color:#E9EDEF;scrollbar-face-color:#E0E5E8;scrollbar-shadow-color:#808080;scrollbar-track-color:#E9EDEF}.urTrcBodyBoxMrg{margin:3px 5px 7px 5px}.urFontBaseFam{font-size:small;font-family:Arial,Helvetica,sans-serif}