
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Button {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
BUTTON {
	BACKGROUND-COLOR: #d6d3ce
}
TABLE {
	BACKGROUND-COLOR: #efebd8
}
.Button {
	BACKGROUND-COLOR: #d6d3ce
}
.Disabled {
	BACKGROUND-COLOR: #d6d3ce
}
.IframeBody {
	BACKGROUND-COLOR: #efebd8
}
.Actions {
	MARGIN: 3px 0px 0px 1px; WIDTH: 100%; BACKGROUND-COLOR: #efebd8
}
.ActionsParent {
	BORDER-TOP: #b7b098 1px solid; BORDER-LEFT: #b7b098 1px solid; WIDTH: 100%; BACKGROUND-COLOR: #efebd8
}
.BannerHeading {
	FONT-SIZE: 11pt; WIDTH: 100%; COLOR: #ffcc66; BACKGROUND-COLOR: #ffffff
}
#BannerHeadingFrame {
	WIDTH: 100%; HEIGHT: 45px
}
.BannerHeadingParent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(../images/p2_background.gif); BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px
}
.BannerCell {
	FONT-SIZE: 9pt; COLOR: #ffffff; BACKGROUND-COLOR: #336699
}
.BannerCellTitle {
	FONT-SIZE: 11pt; COLOR: #99ccff; BACKGROUND-COLOR: #336699
}
.BannerCellName {
	FONT-SIZE: 11pt; COLOR: #ffffff; BACKGROUND-COLOR: #336699
}
.BannerMenu {
	PADDING-RIGHT: 4pt; PADDING-LEFT: 4pt; PADDING-BOTTOM: 4pt; COLOR: #ffcc66; PADDING-TOP: 4pt; BACKGROUND-COLOR: #336699
}
.BannerMenuCell {
	WIDTH: 64pt; TEXT-ALIGN: center
}
.BannerMenuCellSelected {
	WIDTH: 64pt; TEXT-ALIGN: center
}
.BannerMenuCellSelected {
	BORDER-RIGHT: #ffcc66 1px solid; BORDER-LEFT: #ffcc66 1px solid; BACKGROUND-COLOR: #330099
}
.BannerLink {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: underline
}
.BannerMenuParent {
	WIDTH: 100%; BACKGROUND-COLOR: #ffffff
}
.BannerSubheadingParent {
	WIDTH: 100%; BACKGROUND-COLOR: #ffffff
}
.BannerPath {
	VERTICAL-ALIGN: top; WIDTH: 100%; LINE-HEIGHT: 18pt; FONT-SIZE: 11pt; COLOR: #336699; BACKGROUND-COLOR: #ffffff
}
#BannerPathTable {
	PADDING-BOTTOM: 1.5pt; PADDING-TOP: 1pt
}
.BannerSubheading {
	PADDING-RIGHT: 4pt; PADDING-LEFT: 4pt; FONT-SIZE: 11pt; PADDING-BOTTOM: 4pt; WIDTH: 100%; COLOR: #336699; PADDING-TOP: 4pt; BACKGROUND-COLOR: #ffffff
}
.BannerSubheadingLink {
	FONT-SIZE: 11pt; COLOR: #336699; BACKGROUND-COLOR: #ffffff
}
.BodyTable {
	WIDTH: 100%; HEIGHT: "100%"
}
.BodyTableParent {
	VERTICAL-ALIGN: top; WIDTH: 100%; HEIGHT: "100%"; BACKGROUND-COLOR: #ffffff
}
.DialogBody {
	BACKGROUND-COLOR: #efebd8
}
.DropDownMenu {
	WIDTH: 100%; CURSOR: default; COLOR: #ffffff; BACKGROUND-COLOR: #336699
}
.PopUpMenu {
	WIDTH: 100%; CURSOR: default; COLOR: #ffffff; BACKGROUND-COLOR: #336699
}
#DialogMainTable {
	MARGIN: 6pt
}
#DropDownMenuItem {
	PADDING-LEFT: 8pt;border: 1px solid #336699
}
#PopUpMenuItem {
	PADDING-LEFT: 8pt;border: 1px solid #336699
}
.DropDownMenuRule {
	WIDTH: 100%; HEIGHT: 1px; BACKGROUND-COLOR: #6699cc
}
.PopUpMenuRule {
	WIDTH: 100%; HEIGHT: 1px; BACKGROUND-COLOR: #6699cc
}
.DropDownMenuRuleAbove {
	BORDER-TOP: #ffcc66 1px solid; PADDING-TOP: 2px
}
.PopUpMenuRuleAbove {
	BORDER-TOP: #ffcc66 1px solid; PADDING-TOP: 2px
}
.DropZoneParent {
	PADDING-RIGHT: 10pt; PADDING-LEFT: 10pt; PADDING-BOTTOM: 3px; TEXT-ALIGN: center
}
.ExplanatoryText {
	FONT-SIZE: 13pt; FONT-FAMILY: Times-Roman, Times, serif
}
.FileFolderLink {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.Filter {
	MARGIN: 2pt 0pt 2pt 2pt; WIDTH: 100%; BACKGROUND-COLOR: #efebd8
}
.FilterParent {
	BORDER-TOP: #b7b098 1px solid; BORDER-LEFT: #b7b098 1px solid; WIDTH: 100%; BACKGROUND-COLOR: #efebd8
}
.LabelFont {
	FONT-WEIGHT: bold;
}
.LabelPadingLeft {
	PADDING-LEFT: 10pt;
}
#ItemsDropDownMenuFrame {
	POSITION: absolute
}
#ItemPopUpMenuFrame {
	POSITION: absolute
}
#ItemPopUpMenuFrame {
	DISPLAY: none
}
.ItemsDropZone {
	BORDER-RIGHT: #666666 0.5pt solid; PADDING-RIGHT: 4pt; BORDER-TOP: #666666 0.5pt solid; PADDING-LEFT: 4pt; BORDER-LEFT: #666666 0.5pt solid; WIDTH: 140px; CURSOR: hand; COLOR: #330099; BORDER-BOTTOM: #666666 0.5pt solid; HEIGHT: 35px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.ItemsDropZone2 {
	BORDER-RIGHT: #999999 2px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 19pt; BACKGROUND: url(../images/p2_actionsicon_actionbar.gif) #efebd8 no-repeat; BORDER-LEFT: #cccccc 1px solid; WIDTH: 163px; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #999999 2px solid; HEIGHT: 26px; TEXT-ALIGN: center
}
.JobsTableParent {
	VERTICAL-ALIGN: top; BORDER-LEFT: #b7b098 1px solid; WIDTH: 100%; BORDER-BOTTOM: #b7b098 1px solid; HEIGHT: "100%"; BACKGROUND-COLOR: #efebd8
}
.JobsFilterParent {
	BORDER-LEFT: #b7b098 1px solid; WIDTH: 100%; BACKGROUND-COLOR: #efebd8
}
#ItemPopZone {
	CURSOR: hand
}
#MainTable {
	MARGIN: 6pt; VERTICAL-ALIGN: top; BACKGROUND-COLOR: #efebd8
}
.LabelPaddingLeft{
	PADDING-LEFT: 10px;
}
.NavigationParent {
	PADDING-RIGHT: 6px; WIDTH: 50%; TEXT-ALIGN: right
}
.NavigationCell {
	BACKGROUND-COLOR: #efebd8
}
.NavigationDivider {
	BACKGROUND-COLOR: #336699
}
.NavigationText {
	PADDING-RIGHT: 4pt; PADDING-LEFT: 4pt
}
.OuterTable {
	BORDER-RIGHT: #666666 1px solid; WIDTH: 100%; HEIGHT: "100%"
}
.ParametersTableParent {
	VERTICAL-ALIGN: top; WIDTH: 100%; HEIGHT: "100%"; xborder: 2px inset #ffffff
}
.ScheduleTable {
	width: 100%;
	padding: 3pt;
	background-color: #ffffff;
}
.ScheduleTableFrame {
	border: 2px inset #ffffff;
}
.SearchSortLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; BACKGROUND-COLOR: #ffffff
}
.SelectedItem {
	COLOR: #ffffff; BACKGROUND-COLOR: #000066
}
.SelectionListTable {
	PADDING-RIGHT: 1pt; PADDING-LEFT: 1pt; PADDING-BOTTOM: 1pt; WIDTH: 100%; PADDING-TOP: 1pt; BACKGROUND-COLOR: #ffffff
}
.SelectionListTableFrame {
	BORDER-RIGHT: #ffffff 2px inset; BORDER-TOP: #ffffff 2px inset; BORDER-LEFT: #ffffff 2px inset; BORDER-BOTTOM: #ffffff 2px inset
}
.SideBarMenu {
	WIDTH: 122px; COLOR: #336699; BACKGROUND-COLOR: #cccccc
}
.SidebarMenuCell {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; HEIGHT: 35px; BACKGROUND-COLOR: #336699; TEXT-ALIGN: left
}
.SidebarMenuCellEdge {
	HEIGHT: 9px; BACKGROUND-COLOR: #336699
}
#SideBarMenuFrame {
	WIDTH: 140px; HEIGHT: "100%"
}
.SideBarMenuLink {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.SideBarMenuLinkHover {
	FONT-WEIGHT: bold; COLOR: #ffcc00; TEXT-DECORATION: none
}
.SideBarMenuParent {
	PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(../images/p2_background.gif); BACKGROUND-COLOR: #ffffff; VERTICAL-ALIGN: top; HEIGHT: "100%"
}
.SortName {
	PADDING-LEFT: 2pt; WIDTH: 100%
}
#SortToggle {
	CURSOR: hand; MARGIN-RIGHT: 3pt
}
.SubMenu {
	BACKGROUND-COLOR: #ffffff;
}
.SubMenuTab {
	background: #b5b29c; text-align: center;
}
.SubMenuTabLarge {
	BACKGROUND-IMAGE: url(../images/p3_submenu_tab.gif); BACKGROUND-COLOR:#ffffff; BACKGROUND-REPEAT: no-repeat; WIDTH: 101px; HEIGHT: 36px; TEXT-ALIGN: center
}
.SubMenuTabSelected {
	background: #efebde; text-align: center;
}
.SubMenuTabSelectedLarge {
	BACKGROUND-IMAGE: url(../images/p3_submenu_tab_selected.gif); BACKGROUND-COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; WIDTH: 101px; HEIGHT: 36px; TEXT-ALIGN: center
}
.SubMenuLink {
	color: #ffffff; font-family: Arial, sans-serif, Tahoma; font-weight: bold; font-size: 9pt; text-decoration: none;
}
.SubMenuLinkHover {
	color: #336699; font-family: Arial, sans-serif, Tahoma; font-weight: bold; font-size: 9pt; text-decoration: none;
}
.SubMenuLinkDisable {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #d6d3ce; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.SubMenuActiveImage {
	BACKGROUND-IMAGE: url(../images/activetab_corner.gif); BACKGROUND-REPEAT: no-repeat; WIDTH: 15px; HEIGHT: 36px
}
.SubMenuInactiveImage {
	BACKGROUND-IMAGE: url(../images/inactivetab_corner.gif); BACKGROUND-REPEAT: no-repeat; WIDTH: 15px; HEIGHT: 36px
}
.SubMenuSelected {
	color: #336699; font-family: Arial, sans-serif, Tahoma; font-weight: bold; font-size: 9pt; text-decoration: none;
}
.SubMenuTableCell {
	BACKGROUND-COLOR: #efebd8
}
.SubMenuTableActions {
	BACKGROUND-COLOR: #ffffff
}
.SubMenuTableActionsParent {
	PADDING-TOP: 5pt; BACKGROUND-COLOR: #ffffff
}
.SubMenuTableParent {
	BORDER-RIGHT: #b7b098 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #b7b098 1px solid; WIDTH: 100%; BORDER-BOTTOM: #b7b098 1px solid; HEIGHT: "100%"; BACKGROUND-COLOR: #efebd8
}

.TableBody {
	PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; HEIGHT: 16pt
}
.TableBody2 {
	PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; HEIGHT: 16pt
}
.TableBodyLink {
	COLOR: #993300
}
.TablePopUpMenuTrigger {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; BORDER-LEFT: #999999 1px solid; CURSOR: hand; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 16pt; BACKGROUND-COLOR: #e4d0ac
}
.TableBottom {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 16pt
}

.TableHeading {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; COLOR: #ffffff; HEIGHT: 16pt; BACKGROUND-COLOR: #b7b098
}


.TableParent {
	BORDER-TOP: #b7b098 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #b7b098 1px solid; WIDTH: 100%; BORDER-BOTTOM: #b7b098 1px solid; HEIGHT: "100%"; BACKGROUND-COLOR: #efebd8
}
.TableParent1 {
	BORDER-TOP: #b7b098 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #b7b098 1px solid; WIDTH: 100%; BACKGROUND-COLOR: #efebd8
}
.TableParent2 {
	VERTICAL-ALIGN: top; BORDER-LEFT: #b7b098 1px solid; WIDTH: 100%; BORDER-BOTTOM: #b7b098 1px solid; HEIGHT: "100%"; BACKGROUND-COLOR: #efebd8
}

.HyperLink {
	TEXT-DECORATION: underline
}
.BrowserTable {
	height: 16pt;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #cccccc;
	padding-left: 2pt;
	padding-right: 2pt;
}
.Indeterminate {
	BACKGROUND-COLOR: #d6d3ce;
	COLOR: #8D8D8D
}
