

H3
{
		color: black;
	font-family: Verdana;	
}
.TableButtonRow
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: buttonface;
}

.TableHeaderRow
{
	border-right: #ffffff 1px solid;
	padding-right: 2pt;
	padding-left: 2pt;
	padding-bottom: 2px;
	color: #ffffff;
	padding-top: 1px;
	height: 13pt;
	background-color: #4484b4;
}

.TableHeaderRowEndRow
{

	padding-right: 2pt;
	padding-left: 2pt;
	padding-bottom: 3px;
	color: #ffffff;
	padding-top: 2px;
	height: 13pt;
	background-color: #4484b4;
}

.TableHeaderRowNonVisible
{
	height: 13pt;
	background-color: #4484b4;
}

.AltTableRow
{
	padding-right: 2px;	
	padding-left: 4px;
	font-size: 18pt;
	padding-bottom: 0px;	
	color: black;
	padding-top: 0px;	
	font-family: Verdana;
	background-color: #e6edf7;
	height: 16pt;
	
}

.TableRow
{
	
	padding-right: 2px;	
	padding-left: 4px;
	font-size: 18pt;
	padding-bottom: 0px;	
	color: black;
	padding-top: 0px;	
	font-family: Verdana;
	height: 16pt;
	
	
}

.TableDownloadedRow
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #33ff33;
}

.TableSelectedRow
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #cccc00;
}
.FileName
{
	font-size: 9pt;
	cursor: hand;
	color: rgb(0,0,160);
	font-family: Arial, Tahoma, sans-serif;
}
.BudgetDistributionTextStyle
{
	padding-left: 12px;
	font-size: 14pt;	
	color: #0000ff;
	font-family: Verdana;
}

.ShowOnlyDownloadedFiles
{
	color: black;
	font-family: Verdana;
}