.css0002
{
	padding:0 0 0 10; 
	font-family:Tahoma,sans-serif;
	font-size: 11px;
	color:#FFF;
	font-weight:bold;	
}

.css0058
{
	font-size: 11px;
	width:111px;	
	padding:10px 4px 11px 0;
	color:#336699;
	font-weight:bold;	
	font-family:Tahoma,sans-serif;
}

.css0059
{
	font-size: 11px;
	width:111px;
	padding:5px 4px 11px 0;
	color:#336699;
	font-weight:bold;	
	font-family:Tahoma,sans-serif;
}

.css0062
{
	font-size: 11px;
	color:#E22525;
	font-weight:bold;	
	font-family:Tahoma,sans-serif;
}

.css0063
{	
	padding:5px 9px 11px 9px; 

}

.css0073
{
	background-color: #4373b3;
	padding:0 10px 0 10px; 
}

.css0074
{
	font-family:Tahoma,sans-serif;
	font-size: 11px;
	color:#FFF;
	font-weight:bold;	
	padding:0 0px 0 0px; 
	
}

.css0092
{	
	padding:5px 0 11px 0; 
	width:200px;
}	

.css0093
{	
	padding:0 0 11px 0; 
	width:200px;
}	

.css0034
{
	font-size: 11px; 
	font-family:Tahoma,sans-serif; 
	width:200px;
}
.css0079
{
	padding: 5px 10px 5px 0; 
	
}

.css0081
{
	padding: 2px 2px 2px 2px; 
	
}

.css0082
{
	font-size:10px;
	color:#FFF;
	font-family:Verdana,sans-serif;	
}

.css0101
{
	padding: 11px 0px 2px 23px; 	
}

.css0102
{
	font-size: 12px;
	font-weight:bold;
	color:#261F9C;
	font-family:Verdana,sans-serif;	
}

.css0103
{
	padding: 4px 4px 2px 10px; 	
}

.css0104
{
	font-size:11px;
	color:#000;
	font-family:Verdana,sans-serif;	
}