.tab-active
{
	border-right: #edecd1 1px solid;
	padding-right: 18px;
	border-top: #edecd1 0px;
	padding-left: 18px;
	font-weight: bold;
	font-size: 11px;
	background-image: url(../images/tile-0004.png);
	padding-bottom: 3px;
	border-left: #edecd1 1px solid;
	color: #000099;
	padding-top: 3px;
	border-bottom: #edecd1 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 22px;
	text-align: center;
}
.tab-inactive
{
	border-right: #000000 1px solid;
	padding-right: 18px;
	border-top: #000000 1px solid;
	padding-left: 18px;
	font-weight: bold;
	font-size: 11px;
	background-image: url(../images/tile-0001.png);
	padding-bottom: 3px;
	border-left: #000000 1px solid;
	color: #ffffff;
	padding-top: 3px;
	border-bottom: #000000 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 22px;
	text-align: center;
}

.tab-inactive a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tab-inactive a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tab-inactive a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}
.tab-inactive a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}

Input:hover
{
	background-color: red	
}

.MyReportsAdminConsoleButton
{
	border-right: darkblue 1px solid;
	border-top: darkblue 1px solid;
	display: inline;
	font-size: 8pt;
	border-left: darkblue 1px solid;
	width: 90px;
	cursor: hand;
	color: #111c54;
	border-bottom: darkblue 1px solid;
	font-family: Verdana;
	position: relative;
	height: 20px;
	background-color: gainsboro;
}

.SelectedStep
{
	border-top: white thin solid;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: white;
	text-decoration: none;
}

.NonSelectedStep
{
	border-top: white thin solid;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #edecd1;
	text-decoration: none;
}

.AddNewUserSideLinkTest
{
	font-size: xx-small;
	margin-left: 0px;
	color: #0000ff;
	font-family: Verdana;
	text-decoration: none;
}

.AddNewUserSideLink:hover
{
	color: #e0da00;
	text-decoration: none;
}

.AddNewUserSideLink:active
{
	text-decoration: none;
}

.AddNewUserSideLink:link
{
	text-decoration: none;
}

.AddNewUserSideLink:visited
{
	color: Blue;
}

.MyReportsAdminConsoleBorder
{
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-left: dimgray 1px solid;
	border-bottom: dimgray 1px solid;
	height: 100%;
	width: 100%;
	
}

.AdminConsoleTitleText
{
	font-weight: bold;
	font-size: 12pt;
	font-family: Verdana;
}

.Grid
{
	font-family: Comic;
}

.X-Small
{
	font-size: 9pt;
	font-family: Verdana;
	color: black;
}

.XX-Small
{
	font-size: 8pt;
	color: black;
	font-family: Verdana;
}

.X-SmallBold
{
	font-weight: bold;
	font-size: 9pt;
	font-family: Verdana;
}

.XX-SmallBold
{
	font-weight: bold;
	font-size: 8pt;
	font-family: Verdana;
}

.X-Small_White
{
	font-size: 9pt;
	color: white;
	font-family: Verdana;
}

.XX-Small_White
{
	font-size: 8pt;
	color: white;
	font-family: Verdana;
}

.X-SmallBold_White
{
	font-weight: bold;
	font-size: 9pt;
	color: white;
	font-family: Verdana;
}
.XX-SmallBold_White
{
	font-weight: bold;
	font-size: 8pt;
	color: white;
	font-family: Verdana;
}

.XX-SmallTextBox
{
	font-size: 8pt;
	color: black;
	font-family: Verdana;
	height: 18px;
	
}

.XX-SmallDropDown
{
	border-right: green thick solid;
	border-top: green thick solid;
	font-size: 8pt;
	border-left: green thick solid;
	color: red;
	border-bottom: green thick solid;
	font-family: Verdana;
	height: 18px;
	background-color: gray;
}



.ThinBorder
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	background-color: #eeedd7;
}

.ThinBorder_MissingTop
{
	border-right: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	background-color: #eeedd7;
}

.menuSelectionText
{
	font-weight: bolder;
	font-size: 8pt;
	cursor: hand;
	color: #000099;
	font-family: Verdana;
	text-decoration: underline;
}

.menuSelection
{
	cursor: hand;
}

.XMenuItem
{
	border-right: white 1px solid;
	border-top: white 1px solid;
	border-left: white 1px solid;
	border-bottom: white 1px solid;
	
	padding-right: 1px;	
	padding-left: 1px;
	padding-bottom: 1px;
	padding-top: 0px;
	
	width: 98%;
	color: blue;
	
	font-family: Verdana;
	font-size: 8pt;
	background-color: white;
	text-align: left;
}

.XMenuItem:hover
{
	border-right: royalblue 1px solid;
	padding-right: 1px;
	border-top: royalblue 1px solid;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: royalblue 1px solid;
	width: 98%;
	color: maroon;
	padding-top: 0px;
	border-bottom: royalblue 1px solid;
	font-family: Verdana;
	background-color: honeydew;
	text-align: left;
}	 


.XMenuHeader
{
	background-image: url(../images/tool-bkgd.gif);
	height: 30px;
	background-color: transparent;
}

.XMenu_Out
{
	background-image: url(../images/tool-bkgd.gif);
	height: 30px;
	background-color: transparent;
}

.XMenu_Over
{	
	background-image: url(../images/over-bkgd.gif);		
	height: 30px;
	background-color: transparent;
}

.XMHeaderTest
{
	padding-left: 6px;
	font-weight: bold;
	font-size: 8pt;
	color: #0033cc;
	text-align: left;
}
.UserName
{
	padding-left: 16px;	
	font-size: 10pt;
	color: white;
	background-color: transparent;
}

.ApplicationName
{
	padding-left: 122px;
	font-weight: bold;
	font-size: 12pt;
	color: white;
	font-family: Verdana;
	background-color: transparent;
}

.ChangePasswordLinkButton
{
	font-size: 9pt;
	color: red;
	font-weight: bold;
	background-color: transparent;	
}

.ChangePasswordText
{	
	font-size: 9pt;
	color: white;
	font-weight: bold;
	background-color: transparent;
}

.QuestionTitle
{
	color: white;
	font-family: Arial;
}

.QuestionHeaderText
{
	font-weight: bold;
	font-size: 12pt;
}

.QuestionDescriptionText
{
	font-size: 10pt;
}

.MainPageTable
{
	width: 80%;
	background-color: #f2f2f1;
}
