.aa TD:hover {
	COLOR: orange; TEXT-DECORATION: underline
}
.allBorders {
	BORDER-RIGHT: #ccddef 1px solid; BORDER-TOP: #ccddef 1px solid; BORDER-LEFT: #ccddef 1px solid; BORDER-BOTTOM: #ccddef 1px solid
}
.appHeader {
	BACKGROUND-IMAGE: url(images/topGradRepeat.jpg); BORDER-BOTTOM: #7daad4 1px solid; BACKGROUND-REPEAT: repeat-x
}
.blueRepeat {
	BACKGROUND-IMAGE: url(images/darkBlue_GRAD.jpg); BACKGROUND-REPEAT: repeat-x
}
.bodyText {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.8em; COLOR: black; LINE-HEIGHT: 150%; PADDING-TOP: 10px; FONT-FAMILY: verdana; LETTER-SPACING: 0px
}
.bodyTextLeftPadding {
	PADDING-LEFT: 10px; FONT-SIZE: 0.8em; COLOR: black; LINE-HEIGHT: 150%; FONT-FAMILY: verdana; LETTER-SPACING: 0px
}
.bodyTextLowPadding {
	PADDING-LEFT: 10px; FONT-SIZE: 0.9em; COLOR: black; LINE-HEIGHT: 150%; FONT-FAMILY: verdana; LETTER-SPACING: 0px
}
.bodyTextLowPaddingSelected {
	PADDING-LEFT: 10px; FONT-SIZE: 0.9em; COLOR: black; LINE-HEIGHT: 150%; FONT-FAMILY: verdana; LETTER-SPACING: 0px; BACKGROUND-COLOR: #eeeeee
}
.bodyTextNoPadding {
	FONT-SIZE: 0.8em; COLOR: black; LINE-HEIGHT: 150%; FONT-FAMILY: verdana; LETTER-SPACING: 0px
}
.bodyTextNoTopPadding {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.8em; COLOR: black; LINE-HEIGHT: 150%; FONT-FAMILY: verdana; LETTER-SPACING: 0px
}
.bodyTextLowTopPadding {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.8em; COLOR: black; LINE-HEIGHT: 150%; PADDING-TOP: 3px; FONT-FAMILY: verdana; LETTER-SPACING: 0px
}
.bodyTextLeftPadding5 {
	PADDING-LEFT: 5px; FONT-SIZE: 0.8em; COLOR: black; LINE-HEIGHT: 150%; FONT-FAMILY: verdana; LETTER-SPACING: 0px
}
.bottomRow {
	PADDING-LEFT: 30px; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #3266cc
}
.button0 {
	FONT-SIZE: 0.6em; CURSOR: hand; COLOR: black; FONT-FAMILY: Trebuchet MS
}
.button1 {
	FONT-SIZE: 0.6em; CURSOR: hand; COLOR: black; FONT-FAMILY: Trebuchet MS; TEXT-DECORATION: underline
}
.buttonCell {
	PADDING-RIGHT: 20px; BACKGROUND-COLOR: #fee17b
}
.buttonRow {
	PADDING-LEFT: 30px; BORDER-BOTTOM: #fee17b 5px solid
}
.callOutStyle {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: white; LINE-HEIGHT: 150%; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #6699cc
}
.callOutHeaderStyle {
	PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: white; LINE-HEIGHT: 150%; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #6699cc
}
.callOutStyleLowLeftPadding {
	PADDING-RIGHT: 20px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; PADDING-BOTTOM: 3px; COLOR: white; LINE-HEIGHT: 150%; PADDING-TOP: 3px; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #6699cc
}
.callOutStyleNoLeftPadding {
	PADDING-RIGHT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; PADDING-BOTTOM: 3px; COLOR: white; LINE-HEIGHT: 150%; PADDING-TOP: 3px; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #6699cc
}
.callOutStyleNoBorder {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; PADDING-BOTTOM: 3px; COLOR: white; LINE-HEIGHT: 150%; PADDING-TOP: 3px; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #6699cc
}
.darkBlueShadow {
	BACKGROUND-IMAGE: url(gradient_onblue.gif); BACKGROUND-REPEAT: repeat-x
}
.deSTabLeft {
	BORDER-RIGHT: #6699cc 0px solid; BACKGROUND-POSITION: 0px 0px; BORDER-TOP: #6699cc 0px solid; BACKGROUND-IMAGE: url(DeSelectedTab_1x1.gif); BORDER-LEFT: #6699cc 0px solid; CURSOR: hand; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-REPEAT: repeat-y; BORDER-COLLAPSE: separate; BACKGROUND-COLOR: #deeaf3
}
.deSTabCenter {
	BORDER-RIGHT: #6699cc 0px solid; BORDER-TOP: #6699cc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 0.7em; PADDING-BOTTOM: 2px; BORDER-LEFT: #6699cc 0px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #deeaf3
}
.deSLinkText {
	FONT-WEIGHT: normal; FONT-SIZE: 1.0em; CURSOR: hand; COLOR: #000000; FONT-FAMILY: tahoma; TEXT-DECORATION: none;	
}
.deSTabRight {
	BORDER-RIGHT: #6699cc 0px solid; BACKGROUND-POSITION: right top; BORDER-TOP: #6699cc 0px solid; BACKGROUND-IMAGE: url(DeSelectedTab_1x1.gif); BORDER-LEFT: #6699cc 0px solid; CURSOR: hand; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #deeaf3
}
.gridRowStyle {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 3px; COLOR: black; PADDING-TOP: 3px; FONT-FAMILY: tahoma; LETTER-SPACING: 0px; BACKGROUND-COLOR: #ffffff
}
.gridRowStyle8 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 3px; COLOR: black; PADDING-TOP: 3px; FONT-FAMILY: tahoma; LETTER-SPACING: 0px; BACKGROUND-COLOR: #ffffff
}
.gridPagerStyle {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; BACKGROUND-COLOR: #eeeeee
}
.gridAlternatingRowStyle {
	BORDER-RIGHT: #ccddef 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccddef 1px solid; COLOR: black; PADDING-TOP: 3px; FONT-FAMILY: tahoma; LETTER-SPACING: 0px; BACKGROUND-COLOR: #cadbed
}
.gridAlternatingRowStyle8 {
	BORDER-RIGHT: #ccddef 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccddef 1px solid; COLOR: black; PADDING-TOP: 3px; FONT-FAMILY: tahoma; LETTER-SPACING: 0px; BACKGROUND-COLOR: #cadbed
}
.gridSelectedRowStyle {
	BORDER-RIGHT: #ccddef 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccddef 1px solid; COLOR: white; PADDING-TOP: 3px; FONT-FAMILY: tahoma; LETTER-SPACING: 0px; BACKGROUND-COLOR: #3266cc
}
.helloUser {
	FONT-WEIGHT: bold
}
.hide {
	VISIBILITY: hidden
}
.homePageContent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.homePageFooter {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; BORDER-LEFT: #ffffff 0px solid; BORDER-BOTTOM: #ffe17c 5px solid
}
.homePageHeader {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(headerGRADIENT_Tall.gif); BACKGROUND-REPEAT: repeat-x
}
.hoverTabLeft {
	BORDER-RIGHT: #6699cc 0px solid; BACKGROUND-POSITION: 0px 0px; BORDER-TOP: #6699cc 0px solid; BACKGROUND-IMAGE: url(DeSelectedTab_1x1.gif); BORDER-LEFT: #6699cc 0px solid; CURSOR: hand; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-REPEAT: repeat-y; BORDER-COLLAPSE: separate; BACKGROUND-COLOR: #ffeba6
}
.hoverTabCenter {
	BORDER-RIGHT: #6699cc 0px solid; BORDER-TOP: #6699cc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 0.7em; PADDING-BOTTOM: 2px; BORDER-LEFT: #6699cc 0px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #ffeba6
}
.hoverTabRight {
	BORDER-RIGHT: #6699cc 0px solid; BACKGROUND-POSITION: right top; BORDER-TOP: #6699cc 0px solid; BACKGROUND-IMAGE: url(DeSelectedTab_1x1.gif); BORDER-LEFT: #6699cc 0px solid; CURSOR: hand; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffeba6
}
.itemDetailsContainer {
	BACKGROUND-COLOR: #eeeeee
}
.lbBorders {
	BORDER-LEFT: #ccddef 1px solid; BORDER-BOTTOM: #ccddef 1px solid
}
.lightShadow {
	BACKGROUND-IMAGE: url(gradient_onwhite.gif); BACKGROUND-REPEAT: repeat-x
}
.lrbBorders {
	BORDER-RIGHT: #ccddef 1px solid; BORDER-LEFT: #ccddef 1px solid; BORDER-BOTTOM: #ccddef 1px solid
}
.leftWizard {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; FONT-SIZE: 0.9em; COLOR: white; PADDING-TOP: 10px; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #3266cc
}
.logOff {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 0.7em; CURSOR: hand; COLOR: white; FONT-FAMILY: tahoma; TEXT-DECORATION: underline
}
.logoText {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; COLOR: white; FONT-FAMILY: tahoma
}
.selTabLeft {
	BORDER-RIGHT: #6699cc 0px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #6699cc 0px solid; BACKGROUND-IMAGE: url(selectedTab_1x1.gif); BORDER-LEFT: #6699cc 0px solid; CURSOR: default; BORDER-BOTTOM: #ffffff 0px solid; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
.selTabCenter {
	BORDER-RIGHT: #6699cc 0px solid; BORDER-TOP: #6699cc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; PADDING-BOTTOM: 2px; BORDER-LEFT: #6699cc 0px solid; CURSOR: default; COLOR: #000000; BORDER-BOTTOM: #ffffff 0px solid; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #ffffff
}
.selLinkText {
	FONT-WEIGHT: bold; FONT-SIZE: 1.0em; CURSOR: hand; COLOR: #000000; FONT-FAMILY: tahoma;	TEXT-DECORATION: none;
}
.selTabRight {
	BORDER-RIGHT: #6699cc 0px solid; BACKGROUND-POSITION: right top; BORDER-TOP: #6699cc 0px solid; BACKGROUND-IMAGE: url(selectedTab_1x1.gif); BORDER-LEFT: #6699cc 0px solid; CURSOR: default; BORDER-BOTTOM: #ffffff 0px solid; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
.spacerTab {
	BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-COLOR: transparent
}
.userDetails {
	BORDER-RIGHT: #ccddef 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 30px; BORDER-LEFT: #ccddef 1px solid; COLOR: black; LINE-HEIGHT: 150%; PADDING-TOP: 10px; BORDER-BOTTOM: #ccddef 1px solid; FONT-FAMILY: verdana; LETTER-SPACING: 0px; BACKGROUND-COLOR: #eeeeee
}
.userDetailsLowLeftPadding {
	BORDER-RIGHT: #ccddef 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 15px; FONT-SIZE: 0.7em; BORDER-LEFT: #ccddef 1px solid; COLOR: black; LINE-HEIGHT: 150%; PADDING-TOP: 10px; BORDER-BOTTOM: #ccddef 1px solid; FONT-FAMILY: verdana; LETTER-SPACING: 0px; BACKGROUND-COLOR: #eeeeee
}
.userDetailsWithFontSize {
	BORDER-RIGHT: #ccddef 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 0.8em; BORDER-LEFT: #ccddef 1px solid; COLOR: black; LINE-HEIGHT: 150%; PADDING-TOP: 10px; BORDER-BOTTOM: #ccddef 1px solid; FONT-FAMILY: verdana; LETTER-SPACING: 0px; BACKGROUND-COLOR: #eeeeee
}
.webToolBrand 
{
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; LEFT: -1px; COLOR: #ffffff; FONT-FAMILY: Franklin Gothic Medium; POSITION: relative; TOP: -2px
}
.WelcomeText {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: white; FONT-FAMILY: tahoma
}
.wizardClass {
	PADDING-LEFT: 30px; PADDING-TOP: 30px
}
.wizardClassNoWatermark {
	PADDING-LEFT: 30px; FONT-SIZE: 0.9em; PADDING-TOP: 30px; FONT-FAMILY: verdana
}
A.helpHyperLink:hover {
	FONT-SIZE: 0.7em; COLOR: #ffffff; FONT-FAMILY: Tahoma
}
A.helpHyperLink:link {
	FONT-SIZE: 0.7em; COLOR: #ffffff; FONT-FAMILY: Tahoma
}
A.helpHyperLink:visited {
	FONT-SIZE: 0.7em; COLOR: #ffffff; FONT-FAMILY: Tahoma
}
A.gridSelectedRowStyle:visited {
	COLOR: white
}
A.gridSelectedRowStyle:link {
	COLOR: white
}
.activeBTNImage {
	FILTER: progid:DXImageTransform.Microsoft.Glow( Color=DDDDDD,Strength=7)
}
.helperText {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; CURSOR: hand; COLOR: white; FONT-FAMILY: verdana; POSITION: relative; TOP: -5px; TEXT-DECORATION: underline
}
